process {
  executor = 'slurm'
  queue = 'comp'
  cpus = 8
  memory = '48 GB'
  time = '24h'
  errorStrategy = 'retry'
  maxRetries = 1
}

apptainer {
  enabled = true
  autoMounts = true
  cacheDir = '/shared/shen/2026/ultimate/containers/apptainer'
}

timeline {
  enabled = true
  file = '/shared/shen/2026/ultimate/jobs/<job_id>/runs/nfcore_rnaseq/pipeline_info/timeline.html'
}

report {
  enabled = true
  file = '/shared/shen/2026/ultimate/jobs/<job_id>/runs/nfcore_rnaseq/pipeline_info/report.html'
}

trace {
  enabled = true
  file = '/shared/shen/2026/ultimate/jobs/<job_id>/runs/nfcore_rnaseq/pipeline_info/trace.txt'
}
